.section-banner {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 95vh;
  border: solid 1px magenta;
  padding: 1.5em 1.5em 1.5em 1.5em;
  font-style: justify;
}

.section-banner h1 {
  font-size: 20px;
}
