.header {
  display: flex;
  justify-content: space-around;
  border: solid 1px red;
  align-items: center;
}

.header-menu {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  border: solid 1px blue;
}

.header-menu a {
  text-decoration: none;
  color: black;
  border: solid 1px green;
  padding: 6px;
}
